/*body {
	background-color: #5c5c5c;
}

.card {
	background-color: #5b5a5a;
	border: 1px solid rgba(255, 251, 251, 0.13);
	color: #fff;
}
*/
textarea {
    border: none;
    resize: none;
    height: 100px;
    font-size: 20px;
    background-color: #efefef;
    border-radius: 10px;
}

textarea:focus {
    outline: none;
}

#json_place {
    height: 700px;
    font-size: 20px;
    background-color: #efefef;
    border-radius: 10px;
    padding: 20px;
    color: #000;
    font-style: italic;
}

#session_variants {
    overflow-y: hidden;
    padding-left: 0;
    font-size: 20px;
    border-radius: 10px;
    padding-bottom: 25px;
}

#session_variants:focus {
    outline: none;
}
#session_variants>option {
    text-align: center;
}

#question_variants {
	height: 30px;
	border-radius: 10px;
	background-color: #fff;
}

#question_variants:focus {
    outline: none;
}

#one_variant_input {
	font-size: 40px;
	border: 1px solid #757575;
	border-right: none;
	border-left: none;
	border-top: none;
	text-align: center;
}

#one_variant_input:focus {
    outline: none;
}

.variant {
    font-size: 20px;
    font-weight: 600;
}

.answer-variant {
    width: 100%;
    border: 1px solid black;
    height: 30px;
    padding-left: 5px;
    overflow-x: scroll;
}

.delete-button {
    width: 100%;
}

#convert_button {
	font-size: 2em;
}
